BACKEND_IMAGE=rvivalmimi/tbg-care-backend:latest
FRONTEND_IMAGE=rvivalmimi/tbg-care-frontend:latest

# Email OTP (SMTP)
APP_EMAIL_OTP_ENABLED=true
APP_EMAIL_OTP_FROM=
APP_EMAIL_OTP_SUBJECT=Код входа в платформу
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_REQUIRED=false
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_ENABLE=false
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_CONNECTIONTIMEOUT=10000
SPRING_MAIL_PROPERTIES_MAIL_SMTP_TIMEOUT=10000
SPRING_MAIL_PROPERTIES_MAIL_SMTP_WRITETIMEOUT=10000
APP_EMAIL_OTP_FALLBACK_HOST=
APP_EMAIL_OTP_FALLBACK_PORT=0
APP_EMAIL_OTP_FALLBACK_AUTH=true
APP_EMAIL_OTP_FALLBACK_STARTTLS_ENABLE=false
APP_EMAIL_OTP_FALLBACK_STARTTLS_REQUIRED=false
APP_EMAIL_OTP_FALLBACK_SSL_ENABLE=false
APP_EMAIL_OTP_FALLBACK_SSL_TRUST=

# Cleaner logs
SPRING_JPA_SHOW_SQL=false
SPRING_DATA_REDIS_REPOSITORIES_ENABLED=false

# Optional JVM network tuning (can help on some VPS providers)
JAVA_OPTS=
