BACKEND_IMAGE=rvivalmimi/tbg-care-backend:latest
FRONTEND_IMAGE=rvivalmimi/tbg-care-frontend:latest

# Email OTP (SMTP)
APP_EMAIL_OTP_ENABLED=true
APP_EMAIL_OTP_FROM=
APP_EMAIL_OTP_SUBJECT=Код входа в платформу
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
